@tailwind base;
@tailwind components;
@tailwind utilities;

// Overall scss
:root {
    background-color: #1a1a1a;
}

html {
    scroll-behavior: smooth;
}

.heading {
    position: relative;
    display: inline-block;
    font-size: 4.5vw;     
    font-weight: bold;        
    color: white;  
    padding: 0px 2vw;
    margin-top: 1.5em;
}

.heading::after {
    content: '';         
    position: absolute;     
    right: -1vw;              
    bottom: 1vw;            
    width: 75%;                 
    height: 2vw;               
    background-color: #FF5A5A;    
    z-index: -1;  
}

// Hamburger CSS
.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    color: white;
    font-size: 4em;
    top: 0;
    z-index: 998;
    position: fixed;
    width: 100%;
}

.hamburgerImage  {
    cursor: pointer;
}

.hamburger-nav {
    position: fixed;
    color: white;
    font-size: 2em;
    top: 55px;
    right: 10px;
    z-index: 998;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 100%;

}

.hamburger-nav ul {
    padding: 10px 20px;
    border-radius: 5%;
    transition: transform 0.5s ease;
    opacity: 97.5%;
    background-color: #272727;
}

.hamburger-nav ul li:hover {
    color: #ff4a5c;
}

// Navbar scss
.nav {
    background-color: #272727;
    box-shadow: 1vw 0.5vw 0.5vw black;
    top: 0;
    z-index: 999;
    position: fixed;
    width: 100%;
}

.nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 65%;
    margin-right: 5%;
    color: white;
    height: 3em;
    font-size: 2vw;
    transition: color 0.4s ease;
}

.nav ul li:hover {
    color: #ff4a5c;
}

// Home page scss
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    font-size: 3.5vw;
}

.name {
    color: #ff4a5c;
}

.view-button {
    background: transparent;
    color: #ff4a5c;
    border: 0.3vw solid #ff4a5c;
    font-size: 2vw;
    cursor: pointer;
    padding: 0.3em 1em;
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5vw;
    transition: background-color 0.5s ease, color 0.4s ease, border-color 0.4s ease, box-shadow 0.4s ease;
}

.view-button:hover {
    box-shadow: 1vw 0.5vw 0.5vw black;
    background-color: #272727;
    color: white;
    border-color: white;
}

.view-button p {
    padding-right: 0.5em;
}

// About page scss
.about {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: white;
    margin-bottom: 2em;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-text {
    font-size: 1.5vw;
    padding: 5% 5% 5% 5%;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.about-profile {
    width: 40%;
    border: solid 0.5vw #ff4a5c;
    border-radius: 50%;
    margin-bottom: 5%;
    align-self: center;
}

.tech-bubble {
    background: transparent;
    border: solid 0.3vw #ff4a5c;
    border-radius: 0.5vw;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0.75em;
    font-size: 2vw;
    margin: 0.5em;
}

.tech-bubble img {
    height: 4.75em;
}

.about-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
}

.about-image div {
    flex-grow: 1;
    flex-basis: 0;
}

// Projects page scss
.projects {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: white;
    margin-top: 2em;
}

.project-left {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 80%;
    margin-top: 4em;
    margin-bottom: 4em;
    z-index: 500;
    position: relative; // Add relative positioning
}

.project-left-image {
    padding: 2% 0 2% 0; // Remove padding from the left side
    width: 55%; // Adjust for smaller screens
    position: relative; // Add relative positioning
    z-index: 1; // Ensure it is above the text background
}

.project-left-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 120%; // Extend the background under part of the text
    height: 100%;
    background-color: #3216bc;
    z-index: -99; // Ensure it is below the image
}

.project-left-image img {
    width: 100%; // Adjust for smaller screens
    height: auto; // Maintain aspect ratio
}

.project-left-text {
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    align-items: start;
    width: 45%; // Adjust for smaller screens
    padding-left: 5%; // Add padding to the left
    z-index: 0; // Ensure it is below the image
    background: none; // Remove background color
    z-index: 2;
}

.project-left-text h1 {
    font-size: 2.75vw; // Slightly bigger text
    font-weight: bold;
}

.project-left-text h2 {
    font-size: 2.25vw; // Slightly bigger text
    font-weight: bold;
}

.project-left-text p {
    font-size: 1.5vw; // Slightly bigger text
}

.project-left-text a {
    background: transparent;
    border-bottom: 0.3vw solid #ff4a5c;
    font-size: 1.5vw; // Slightly bigger text
    cursor: pointer;
    padding: 0.3em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.5s ease, color 0.4s ease, border-color 0.4s ease;
}

.project-left-text a:hover {
    color: #1a1a1a;
    background-color: #ff4a5c;
    border-color: none;
}

.project-right {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 80%;
    margin-top: 4em;
    margin-bottom: 4em;
    position: relative; // Add relative positioning
}

.project-right-image {
    padding: 2% 0 2% 0; // Remove padding from the left side
    width: 55%; // Adjust for smaller screens
    position: relative; // Add relative positioning
    z-index: 1; // Ensure it is above the text background
}

.project-right-image::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 120%; // Extend the background under part of the text
    height: 100%;
    background-color: #3216bc;
    z-index: -1; // Ensure it is below the image
}

.project-right-image img {
    width: 100%; // Adjust for smaller screens
    height: auto; // Maintain aspect ratio
}

.project-right-text {
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    align-items: start;
    width: 45%; // Adjust for smaller screens
    padding-right: 5%; // Add padding to the right
    z-index: 0; // Ensure it is below the image
    background: none; // Remove background color
    z-index: 2;
}

.project-right-text h1 {
    font-size: 2.75vw; // Slightly bigger text
    font-weight: bold;
}

.project-right-text h2 {
    font-size: 2.25vw; // Slightly bigger text
    font-weight: bold;
}

.project-right-text p {
    font-size: 1.5vw; // Slightly bigger text
}

.project-right-text a {
    background: transparent;
    border-bottom: 0.3vw solid #ff4a5c;
    font-size: 1.5vw; // Slightly bigger text
    cursor: pointer;
    padding: 0.3em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.5s ease, color 0.4s ease, border-color 0.4s ease;
}

.project-right-text a:hover {
    color: #1a1a1a;
    background-color: #ff4a5c;
    border-color: none;
}

// Contact page scss
.contact {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: white;
    margin-top: 2em;
    margin-bottom: 2em;
}

.contact-form {
    width: 70%;
    font-size: 2.5vw;
    margin-top: 2em;
}

.contact-form p {
    margin-left: 5%;
}

.contact-form input {
    background: transparent;
    border: solid 0.1vw #ff4a5c;
    border-radius: 0.5vw;
    color: white;
    padding: 0.3em 0.3em;
    font-size: 3vw;
    margin: 0.5em;
    width: 100%
}

.contact-form textarea {
    background: transparent;
    border: solid 0.1vw #ff4a5c;
    border-radius: 0.5vw;
    color: white;
    padding: 0.3em 0.3em;
    font-size: 3vw;
    margin: 0.5em;
    width: 100%;
    height: 5em;
}

.btn-container {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
}

.form-btn {
    background: transparent;
    border-bottom: 0.3vw solid #ff4a5c;
    font-size: 2.5vw;
    cursor: pointer;
    padding: 0.3em 1em;
    transition: background-color 0.5s ease, color 0.4s ease, border-color 0.4s ease;
}

.form-btn:hover {
    color: #1a1a1a;
    background-color: #ff4a5c;
    border-color: none;
}

footer {
    background-color: #272727;
    box-shadow: 1vw 0.5vw 0.5vw black;
    width: 100%;
    font-size: 0.75em;
    display: flex;
    color: white;
    padding-top: calc(2% + 2em);
    flex-direction: column;
    padding-bottom: 1%;
    align-items: center;
    justify-content: center;
}

footer img {
    height: 3em;
}

footer img:hover {
    height: 3em;
    cursor: pointer;
}

.footer-images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.to-top-btn {
    background-color: #1a1a1a;
    padding: 1.5em 1em;
    border: 0.3vw solid #ff4a5c;
    border-radius: 0.5vw;
    color: #ff4a5c;
}

.to-top-btn:hover {
    background-color: #1a1a1a;
    padding: 1.5em 1em;
    border: 0.3vw solid white;
    border-radius: 0.5vw;
    color: white;
}

.top-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -1.5em;
}

// Modal Styling
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center; 
    z-index: 999999;
}
  
.modal {
    color: white;
    background: #272727;
    height: 15em;
    width: 80%;
    border-radius: 0.8vw;
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal input {
    color: white;
    background-color: #1a1a1a;
    margin-top: 10px;
    border: solid 0.1vw #ff4a5c;
    border-radius: 0.5vw;
    color: white;
    padding: 0.3em 0.3em;
    width: 50%;
}

.submit-captcha-button {
    background: transparent;
    color: #ff4a5c;
    border: 0.3vw solid #ff4a5c;
    font-size: 1.5vw;
    cursor: pointer;
    padding: 0.3em 1em;
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5vw;
    transition: background-color 0.5s ease, color 0.4s ease, border-color 0.4s ease, box-shadow 0.4s ease;
}

@media screen and (max-width: 1300px) {
    // header resizing
    .nav ul {
        font-size: 4vw;
        margin-left: 40%;
        margin-right: 5%;
    }
    // Home section resizing
    .view-button {
        font-size: 3vw;
    }
    // About section resizing
    .about-content {
        display: grid;
        place-items: center;
    }
    .about-text {
        font-size: 2vw;
        width: 75%;
    }
    .about-profile {
        width: 60%;
    }
    // Project section resizing
    .projects {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        color: white;
        margin-top: 2em;
    }
    
    .project-left {
        display: grid;
        place-items: center;
        width: 75%;
    }
    
    .project-left-image {
        padding: 2% 2% 2% 2%; // Remove padding from the left side
        width: 100%; // Adjust for smaller screens
    }
    
    .project-left-image::before {
        width: 100%; 
    }

    .project-left-text {
        display: flex;
        flex-direction: column;
        padding-top: 2%;
        align-items: start;
        width: 100%; // Adjust for smaller screens
        z-index: 0; // Ensure it is below the image
        background: none; // Remove background color
        z-index: 2;
    }
    
    .project-left-text h1 {
        font-size: 3vw; // Slightly bigger text
        font-weight: bold;
    }
    
    .project-left-text h2 {
        font-size: 2.5vw; // Slightly bigger text
        font-weight: bold;
    }
    
    .project-left-text p {
        font-size: 2vw; // Slightly bigger text
    }
    
    .project-left-text a {
        background: transparent;
        border-bottom: 0.3vw solid #ff4a5c;
        font-size: 2vw; 
        cursor: pointer;
        padding: 0.3em 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: background-color 0.5s ease, color 0.4s ease, border-color 0.4s ease;
    }
    
    .project-right {
        display: grid;
        place-items: center;
        width: 75%;
    }
    
    .project-right-image {
        padding: 2% 2% 2% 2%; // Remove padding from the left side
        width: 100%; // Adjust for smaller screens
    }
    
    .project-right-image::before {
        width: 100%; 
    }
    
    .project-right-text {
        display: flex;
        flex-direction: column;
        padding-top: 2%;
        align-items: start;
        width: 100%; // Adjust for smaller screens
        z-index: 0; // Ensure it is below the image
        background: none; // Remove background color
        z-index: 2;
    }
    
    .project-right-text h1 {
        font-size: 3vw; // Slightly bigger text
        font-weight: bold;
    }
    
    .project-right-text h2 {
        font-size: 2.5vw; // Slightly bigger text
        font-weight: bold;
    }
    
    .project-right-text p {
        font-size: 2vw; // Slightly bigger text
    }
    
    .project-right-text a {
        background: transparent;
        border-bottom: 0.3vw solid #ff4a5c;
        font-size: 2vw; 
        cursor: pointer;
        padding: 0.3em 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: background-color 0.5s ease, color 0.4s ease, border-color 0.4s ease;
    }
    // Top Top button and footer resize
    .to-top-btn {
        padding: 2em 1.75em;
    }
    
    .to-top-btn:hover {
        padding: 2em 1.75em;
    }
    footer {
        font-size: 1.5em;
    }
    // Heading resizes
    .heading {
        margin-top: 2.75em;
    }
    // Modal resizing      
    .modal {
        height: 40em;

    }

    .modal h2{
        font-size: 3vw;
    }

    .modal h3 {
        font-size: 2.5vw;
    }
    
    .modal input {
        margin-top: 20px;
        padding: 0.5em 0.5em;
        font-size: 2vw;
    }
    
    .submit-captcha-button {
        font-size: 2.5vw;
        padding: 0.3em 1em;
    }
}

@media screen and (max-width: 600px) {
    // Top Top button and footer resize
    .to-top-btn {
        padding: 0.75em 0.5em !important;
        margin-bottom: 5px;
    }
    
    .to-top-btn:hover {
        padding: 0.75em 0.5em !important;
        margin-bottom: 5px;
    }
    footer {
        font-size: 0.5em !important;
    }
}